@import './styles.css';



.error{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: bold;
  }

/*
.loading-no_result{
    display: flex;
    justify-content: center;
    align-items: center;
    font:Bold;
    color:gray
  }
*/